body::-webkit-scrollbar {
	-webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
	width: 5px;
	background-color: var(--blue);
}

body::-webkit-scrollbar-thumb {
	background-color: var(--blue);
	width: 100%;
	border-radius: 25px;
}

body::-webkit-scrollbar-button:increment {
	display: none;
}
body::-webkit-scrollbar-button {
	display: none;
}

body::-webkit-scrollbar:horizontal {
	height: 10px;
}

body::-webkit-scrollbar-track {
	border-radius: 10px;
}
